@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
	background-color: #FFF;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400; /*normal*/
	letter-spacing: 1.2px;
	margin: 0;
	padding: 0;
}

/*
a:visited {
	color: #3FB1A3;
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color: #3FB1A3;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #00E;
	text-decoration: none;
}

a:active {
	color: #00E;
	text-decoration: none;
}
*/

#header {
	background-color: #FFF;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.9075);
	height: 42px;
	padding: 10px 15px;
	position: fixed;
	width: 100%; 
	z-index: 100;
}

#logo {
	float: left;
	padding: 10px 0 10px 10px;
}
#logo a {
	color: #2980B9;
	font-family: 'Arial', sans-serif;
	text-decoration: none;
}

nav ul {
	display: inline-block;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
nav ul li:hover > ul {
	display: block;
}
nav ul:after {
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	text-decoration: none;
}

nav ul ul {
	display: none;
	padding-top: 11px;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	background: #F0F0F0;
	float: none; 
	font-size: 90%;
	position: relative;
}
nav ul ul li a {
	padding: 10px;
}
nav ul ul li a:hover {
	background: #83D3C9;
}
		
nav ul ul ul {
	margin-top: -11px;
	position: absolute;  
	right: 100%;
	top: 0;
	width: 270px;
}
nav ul ul ul li {
	background: #FCFCFC;
	text-align: right;
}
nav ul ul ul li a {
	padding: 11px;
}

#nav-home {
	color: #7C8081;
	font-family: 'Arial', sans-serif;
	font-weight: 900;
	margin-right: 40px;
	padding: 10px;
}
#nav-home:hover {
	background-color: #83D3C9;
}

#nav-menu {
	color: #7C8081;
	cursor: default;
	font-family: 'Arial', sans-serif;
	margin-right: 40px;
	padding: 10px;
}
#nav-menu:hover {
	background-color: #FFF;
}

#nav-contact {
	background-color: #F89406;
	color: #FFF;
	font-family: 'Arial', sans-serif;
	font-weight: 900;
	margin-right: 40px;
	padding: 10px;
}
#nav-contact:hover {
	background-color: #83D3C9;
}	

#main-wrapper {
	position: relative; 
	top: 42px;
	width: 100%;
}

#video-wrapper {
	background-color: #96CDEC;
	height: 100%;
	position: relative;
	width: 100%;
}

#footer {
	background-image: url("../img/footerimage.png");
	clear: both;
	position: relative;
	top: 42px;
	width: 100%;
}

#button {
	background-color: #FBA026;
	border-radius: 25px;
	margin-bottom: 100px;
	margin-left: 25px;
	padding: 20px 15px;
}
#button a {
	color: #2980B9;
	font-weight: 900;
	text-decoration: none;
}

#sky {
	background-attachment: fixed;
	background-color: #645862;
	background-image: url("../img/UnderwaterBubbles.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

.section {
	clear: both;
	float: left;
	width: 100%;
}

p {
	line-height: 1.5em;
	padding: 0 25px;
	text-align: justify;
}

h1 {
	font-size: 28px;
	font-weight: bold;
	margin: 30px 15px 15px 15px;
	text-align:	center;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 15px;
	text-align:	center;
}

h3 {
	font-size: 20px;
	font-style: italic;
	margin: 15px;
}

.fonta {
	font-family: Arial, Helvetica, sans-serif;
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.bolder {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearb {
	clear: both;
}

.clearl {
	clear: left;
}

.clearr {
	clear: right;
}

.balign {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.center {
	margin: 0 auto;
}

.textcenter {
	text-align:	center;
}

.textgrey {
	color: #7C8081;
}

.staffrow img {
	cursor: pointer;
	padding: 0 15px 15px 15px;
}

/*
.checkmark {
	background-image: url("../img/greyCheck.png")
}

.bubblerow1 {
	margin-left: -5px;
	vertical-align: top;
}

.bubblerow2 {
	margin-left: -5px;
	vertical-align: bottom;
}
*/

.icon {
	padding: 20px;
}

/*
.pagetitle {
	color: #FFF; #2980B9;
}
*/

.anchor {
  	display: block;
  	height: 55px;
  	margin-top: -55px;
  	visibility: hidden;
}

.inputNamEml {
	font-size: 110%;
	font-weight: 300;
	padding: 15px; 
	width: 290px;
}

.inputSubMes {
	font-size: 110%;
	font-weight: 300;
	margin-top: 15px;
	padding: 15px; 
	width: 637px;
}

.inputButton {
	background-color: #F89406;
	color: #FFF;
	font-family: 'Arial', sans-serif;
	font-weight: 900;
	margin: 10px;
	padding: 10px;
}